
# Alight Motion Premium API (gunakan API key milikmu sendiri)
ALIGHT_API_BASE_URL=https://am.rafaelxd.my.id/api/v1
ALIGHT_API_KEY=


# Web Gateway Jadibot
WEB_GATEWAY_HOST=0.0.0.0
WEB_GATEWAY_PORT=3000
WEB_MAX_JADIBOTS=10
WEB_RATE_LIMIT=8
